<div class="container-fluid">
	<div class="row">
		<div class="col-md-4 col-sm-6 col-xs-12">
			<div class="feature-block">
				<h4>Real-time insight</h4>
				<p>See what code is called in real-time as a 
				result of your testing activities</p>
				<img class="img-responsive img-thumbnail"
					src="http://placehold.it/300x200&text=1"/>
			</div>

			<div class="feature-block">
				<h4>Works with any testing tool</h4>
				<p>Code Pulse is testing-tool agnostic and will 
				happily continue to give you coverage information 
				regardless of which tool you're using at the time</p>
				<img class="img-responsive img-thumbnail"
					src="http://placehold.it/300x200&text=2"/>
			</div>

			<div class="feature-block">
				<h4>Visualizations</h4>
				<p>See the code coverage in a single at-a-glance visualization</p>
				<img class="img-responsive img-thumbnail"
					src="http://placehold.it/300x200&text=3"/>
			</div>

		</div>

		<div class="col-md-4 col-sm-6 col-xs-12">
			<div class="feature-block">
				<h4>Application Inventory</h4>
				<p>Understand the structure and dependencies of the
				monitored application right from the Code Pulse interface</p>
				<img class="img-responsive img-thumbnail"
					src="http://placehold.it/300x200&text=4"/>
			</div>

			<div class="feature-block">
				<h4>Separate Recordings</h4>
				<p>Code Pulse gives you the tools to identify coverage
				activity based on what you were doing at the time</p>
				<img class="img-responsive img-thumbnail"
					src="http://placehold.it/300x200&text=5"/>
			</div>

			<div class="feature-block">
				<h4>Multi-sitting traces</h4>
				<p>No need to worry about doing your testing activity in
				one session; with Code Pulse you can spread your testing
				over many sittings and still get coverage data.</p>
				<img class="img-responsive img-thumbnail"
					src="http://placehold.it/300x200&text=6"/>
			</div>
		</div>

		<div class="col-md-4 col-sm-6 col-xs-12">
			<div class="feature-block">
				<h4>Share/Export</h4>
				<p>Export your coverage information and share it easily
				with other people.</p>
				<img class="img-responsive img-thumbnail"
					src="http://placehold.it/300x200&text=7"/>
			</div>

			<div class="feature-block">
				<h4>Detailed coverage information</h4>
				<p>See the coverage information from a high level view 
				all the way down to individual methods</p>
				<img class="img-responsive img-thumbnail"
					src="http://placehold.it/300x200&text=8"/>
			</div>
		</div>
	</div>
</div>