<footer>
	<div class="section">

		<div class="row">

			<div class="col-xs-3">
				<h4 id="about">More Links</h4>
				<div>
					<a target="_blank" href="https://www.owasp.org/index.php/OWASP_Code_Pulse_Project">OWASP Code Pulse Page</a>
				</div>
				<div>
					<a target="_blank" href="https://github.com/secdec/codepulse">Github Project Page</a>
				</div>
				<div>
					<a target="_blank" href="http://securedecisions.com/">Secure Decisions</a>
				</div>
				<div>
					<a target="_blank" href="http://codedx.com/">Code Dx</a>
				</div>
			</div>

			<div class="col-xs-2">
				<h4>Contact Us</h4>
				<div>
					<a target="_blank" href="https://twitter.com/intent/tweet?screen_name=secdec">
						<i class="fa fa-twitter"></i> @secdec
					</a>
				</div>
				<div>
					<a target="_blank" href="https://github.com/secdec/codepulse/issues">
						<i class="fa fa-github"></i> create an issue
					</a>
				</div>
				<div>
					<a target="_top" href="#todo">
						<i class="fa fa-envelope"></i> email us
					</a>
				</div>
			</div>

			<div class="col-xs-4">
				<h4>License</h4>
				<p>
					Code Pulse is an
					<a href="https://www.owasp.org/index.php/OWASP_Code_Pulse_Project">OWASP</a>
					<a href="https://github.com/secdec/codepulse">open source project</a>
					licensed under the
					<a href="http://www.apache.org/licenses/LICENSE-2.0.html">Apache 2.0 License</a>
				</p>
			</div>

			<div class="col-xs-3">
				<p class="branding-content">
					<a target="_blank" href="http://securedecisions.com/">
						<img class="img-responsive" src="deps/img/secdec-logo.png"/>
					</a>
					&copy; 2014 <a target="_blank" href="http://www.avi.com/">Applied Visions</a>
				</p>
			</div>

		</div>

		<h4 class="acknowledgement-header">Acknowledgement</h4>
		<p class="acknowledgement">
			Code Pulse is based on research sponsored by the Department of Homeland Security (DHS)
			Science and Technology Directorate, Cyber Security Division (DHS S&amp;T/CSD), BAA via
			contract number FA8750-12-C-0219. The views and conclusions contained herein are those
			of the authors and should not be interpreted as necessarily representing the official
			policies or endorsements, either expressed or implied, of Department of Homeland
			Security or the U.S. Government.
		</p>

</footer>
