<div class="navigation-placeholder">
	<!-- adds vertical space when the .navigation div is affixed -->
</div>

<div class="navigation">
	<div class="section">
		<ul class="links-list fancy">
			<li>
				<a href="index.html"><i class="fa fa-home"></i> Home</a>
			</li>
			<li>{{#link 'download'}}<i class="fa fa-download"></i> Download{{/link}}</li>
			<li>
				<a href="faq.html"><i class="fa fa-question-circle"></i> FAQ</a>
			</li>

		</ul>
		<ul class="links-list">
			{{#each navLinks}}
				<li>
					<a href="{{href}}">{{{html}}}</a>
				</li>
			{{/each}}
			<li class="pull-right">
				<a class="when-affixed" href="#top">
					back to top
					<i class="fa fa-arrow-up"></i>
				</a>
			</li>
		</ul>
	</div>
</div>