<header data-spy="affix" data-offset-top="99">

	<!-- branding and external links -->
	<div class="section">
		<div class="clearfix">
			<div class="links-content">
				<a class="project-name" href="index.html">Code Pulse</a>
				<ul class="links-list">
					<li>
						<a href="#">
							<i class="fa fa-download"></i>
							Download
						</a>
					</li>
					<li>
						<a target="_blank" href="https://github.com/secdec/codepulse">
							<i class="fa fa-github"></i>
							Project
						</a>
					</li>
					<li>
						<a href="faq.html">
							<i class="fa fa-question-circle"></i>
							FAQ
						</a>
					</li>
					<li>
						<a target="_blank" href="https://www.owasp.org/index.php/OWASP_Code_Pulse_Project">OWASP
						</a>
					</li>
				</ul>
			</div>
			<div class="branding-content">
				<a target="_blank" href="http://securedecisions.com/">
					<img class="img-responsive" src="deps/img/secdec-logo.png"/>
				</a>
			</div>
		</div>
	</div>

	{{> header-navigation}}

</header>
