<header data-spy="affix" data-offset-top="99">

	<!-- branding and external links -->
	<div class="section">
		<div class="clearfix">
			<div class="links-content">
				<div class="project-name">Code Pulse</div>
				<ul class="links-list">
					<li>
						<a href="#">
							<i class="fa fa-download"></i>
							Download
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fa fa-github"></i>
							Project
						</a>
					</li>
					<li>
						<a href="faq.html">
							<i class="fa fa-question-circle"></i>
							FAQ
						</a>
					</li>
					<li>
						<a target="_blank" href="https://www.owasp.org/index.php/OWASP_Code_Pulse_Project">OWASP
						</a>
					</li>
				</ul>
			</div>
			<div class="branding-content">
				<img class="img-responsive" src="deps/img/secdec-logo.png"/>
			</div>
		</div>
	</div>

	<div class="navigation-placeholder">
		<!-- adds vertical space when the .navigation div is affixed -->
	</div>

	<div class="navigation">
		<div class="section">
			<ul class="links-list">
				<li>
					<a href="#features">Features</a>
				</li>
				<li>
					<a href="#why">Why Code Pulse?</a>
				</li>
				<li>
					<a href="#how">How it works</a>
				</li>
				<li>
					<a href="#who">About us</a>
				</li>
				<li class="pull-right when-fixed">
					<a href="#top">
						back to top
						<i class="fa fa-arrow-up"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>

</header>
