<div class="row">
	<div class="col-sm-7">
		<ol id="how-list">
			<li data-step="how-download">Download &amp; run Code Pulse</li>
			<li data-step="how-point">Point Code Pulse at your app bundle</li>
			<li data-step="how-agent">Configure your app for monitoring</li>
			<li data-step="how-monitor">Monitor code coverage in real-time!</li>
		</ol>
	</div>
	<div class="col-sm-5">
		<div id="how-steps">
			<div id="how-download" class="step">
				<img class="pull-right" src="deps/img/download-zip.png" />
				<div class="caption">{{#link 'download'}}Download Code Pulse{{/link}}, extract the zip archive, and run the application.</div>
				<div class="clearfix"></div>
				<a class="step-link" target="_blank" href="{{url 'wiki_installation'}}">Detailed Installation Instructions</a>
			</div>
			<div id="how-point" class="step">
				<img class="pull-right" src="deps/img/code-pulse-new-project.png" />
				<div class="caption">Create a new project and pass it your war/jar/zip so that it can index your {{#link 'wiki_application_inventory'}}application inventory{{/link}}.</div>
				<div class="clearfix"></div>
				<a class="step-link" target="_blank" href="{{url 'wiki_create_project'}}">Creating Code Pulse Projects Instructions</a>
			</div>
			<div id="how-agent" class="step">
				<div class="caption">Pass an extra flag to your application's JVM startup so that we can monitor it, and start it up.</div>
				<div class="agent-string">-javaagent:CodePulse/agent.jar=localhost:8765</div>
				<a class="step-link" target="_blank" href="{{url 'wiki_agent_config'}}">Agent Configuration Instructions</a>
			</div>
			<div id="how-monitor" class="step">
				<img class="pull-right" src="deps/img/code-pulse-monitor.png" />
				<div class="caption">Code Pulse receives the coverage data while your application runs and shows it to you in realtime!</div>
				<div class="clearfix"></div>
				<a class="step-link" target="_blank" href="{{url 'wiki_tracing'}}">Tracing Instructions</a>
			</div>
		</div>
	</div>
</div>