{{#wrap with='page-wrapper'}}

	<article id="carousel">
		<div class="section">
			{{> screenshot-carousel}}
		</div>
	</article>

	<article id="overview">
		<div class="section">
			{{> overview}}
		</div>
	</article>

	<article id="how">
		<div class="section">
			<h1>How it works</h1>
			{{> how }}
		</div>
	</article>

	<article id="why">
		<div class="section">
			{{> why}}
		</div>
	</article>

	<article id="features">
		<div class="section">
			<h1>Features</h1>
			{{> features}}
		</div>
	</article>

{{/wrap}}