<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>{{pageTitle}}</title>
		<meta name="description" content="Identify coverage gaps by monitoring penetration testing code coverage in real-time">
		<!-- default required JS anc CSS files -->
		<script src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
		<link rel="stylesheet" 
			href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
		<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<link rel="stylesheet"
			href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"/>
		<script src="deps/jquery-ui-easings.js"></script>
		<link rel="stylesheet" href="deps/common.css"/>
		<link rel="stylesheet" href="deps/header.css"/>
		<link rel="stylesheet" href="deps/footer.css"/>
		<script src="deps/smooth-scroll.js"></script>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-50447789-1', 'code-pulse.com');
		  ga('send', 'pageview');

		</script>

		<!-- page-specific JS and CSS files -->
		{{> head-includes}}
	</head>
	<body id="top">
		<div class="full-height-wrapper">
			{{> header}}

			<!-- page-specific content -->
			{{{__wrapped_content}}}
		</div>
		{{> footer}}
	</body>
</html>
