<!-- wrap the carousel to set an explicit height -->
<div class="carousel-wrapper">

	<!-- Using the twitter bootstrap carousel widget to show a set of screenshots -->
	<div id="screenshot-carousel" class="carousel slide" data-ride="carousel">

		<!-- Incidators -->
		<ol class="carousel-indicators">
			<li data-target="#screenshot-carousel" data-slide-to="0" class="active"></li>
			<li data-target="#screenshot-carousel" data-slide-to="1"></li>
			<li data-target="#screenshot-carousel" data-slide-to="2"></li>
		</ol>

		<!-- The actual slides -->
		<div class="carousel-inner">
			<div class="item active">
				<img src="deps/img/code-pulse-in-action.png" alt="placeholder"/>
				<div class="carousel-caption">
					<h4>Code Pulse is a tool that monitors in real-time the
					code coverage of your testing activities.</h4>
				</div>
			</div>

			<div class="item">
				<img src="http://placehold.it/900x674" alt="placeholder2"/>
				<div class="carousel-caption">
					<h3>Second thing</h3>
					<p>This is some more information for you</p>
				</div>
			</div>

			<div class="item">
				<img src="http://placehold.it/900x674" alt="placeholder2"/>
				<div class="carousel-caption">
					<h3>Third thing</h3>
					<p>Last, but not least</p>
				</div>
			</div>
		</div>

		<!-- Controls -->
		<a class="left carousel-control" href="#screenshot-carousel" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
		<a class="right carousel-control" href="#screenshot-carousel" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>

	</div>

</div>